<p id="notice"><%= notice %></p>
<div>  
   <%= link_to "Adicionar", new_cliente_path, "data-controller": "turbo",class: 'btn btn-primary text-white' %>
</div>

<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablacliente" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <% @clientes.each do |cliente| %>
              <tr id="cliente_<%= cliente.id %>">
                <td><%= cliente.nome %></td>
                <td>
                  <%= link_to "Editar", edit_cliente_path(cliente), "data-controller": "turbo", class: 'btn btn-warning btn-sm text white' %>
                  <%= link_to 'Deletar', cliente_path(cliente),class: 'btn btn-danger btn-sm text-white', data: {turbo_method: :delete, confirm: 'Tem certeza?'} %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
