<%= form_with(model: funcionariobeneficio,html: { data: { controller: "masks" } }) do |form| %>
 
       
   <div class="item form-group<%=  @funcionariobeneficio.errors[:beneficio_id].any? ? ' has-error has-feedback' : '' %>">
      <%= form.label :beneficio_id, "Benefício " %>
      <div class="input-group">
        <%= collection_select(:funcionariobeneficio, :beneficio_id, @beneficios, :id, :nome, {:prompt => 'Selecione um Benefício'}, { class: "form-control" })%>
        <%if @funcionariobeneficio.errors[:beneficio_id].any? %>
          <p class="bg-danger text-white"><%= @funcionariobeneficio.errors[:beneficio_id].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

      <div class="item form-group<%= @funcionariobeneficio.errors[:peso].any? ? ' has-error has-feedback' : '' %>">
      <%= form.label :peso, "Peso " %>
        <div class="input-group">
          <%=  form.number_field :peso, class: 'form-control',value: number_to_currency(form.object.peso.to_f, delimiter: '.', unit: ''), step: :any%>
          <%if @funcionariobeneficio.errors[:peso].any? %>
            <p class="bg-danger text-white"><%= @funcionariobeneficio.errors[:peso].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>
 

    <div class="item form-group<%= @funcionariobeneficio.errors[:altura].any? ? ' has-error has-feedback' : '' %>">
    <%= form.label :altura, "Altura " %>
      <div class="input-group">
        <%= form.number_field :altura, class: 'form-control',value: number_to_currency(form.object.altura.to_f, delimiter: '.', unit: ''), step: :any%>        
        <%if @funcionariobeneficio.errors[:altura].any? %>
          <p class="bg-danger text-white"><%= @funcionariobeneficio.errors[:altura].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
  
    <div class="item form-group<%= @funcionariobeneficio.errors[:horas_meditadas].any? ? ' has-error has-feedback' : '' %>">
    <%= form.label :horas_meditadas, "Horas Meditadas " %>
      <div class="input-group">
        <%= form.time_field :horas_meditadas, {:class=> "form-control", :placeholder=>"Ex: 01:00"} %>        
        <%if @funcionariobeneficio.errors[:horas_meditadas].any? %>
          <p class="bg-danger text-white"><%= @funcionariobeneficio.errors[:horas_meditadas].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-1">
      <%= form.submit @funcionariobeneficio.new_record? ? "Adicionar" : "Atualizar", :class => "btn btn-primary"%>
    </div>  

    <% end %>
