<div id="flash" class="flash">
      <%= render "layouts/flash" %>
  </div>
<div id="<%= dom_id funcionariobeneficio %>">
  <p>
    <strong>Funcionario:</strong>
    <%= funcionariobeneficio.funcionario_id %>
  </p>

  <p>
    <strong>Beneficio:</strong>
    <%= funcionariobeneficio.beneficio_id %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= funcionariobeneficio.peso %>
  </p>

  <p>
    <strong>Altura:</strong>
    <%= funcionariobeneficio.altura %>
  </p>

  <p>
    <strong>Horas meditadas:</strong>
    <%= funcionariobeneficio.horas_meditadas %>
  </p>

</div>
