<%= form_with(model: beneficio) do |form| %>
  <% if beneficio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(beneficio.errors.count, "error") %> prohibited this beneficio from being saved:</h2>

      <ul>
        <% beneficio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
