<p style="color: green"><%= notice %></p>

<%= render @beneficio %>

<div>
  <%= link_to "Edit this beneficio", edit_beneficio_path(@beneficio) %> |
  <%= link_to "Back to beneficios", beneficios_path %>

  <%= button_to "Destroy this beneficio", @beneficio, method: :delete %>
</div>
