<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= funcionario.cpf %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= funcionario.endereco %>
  </p>

  <p>
    <strong>Data admissao:</strong>
    <%= funcionario.data_admissao %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= funcionario.email %>
  </p>

</div>
